@page "/songs"
@using Microsoft.EntityFrameworkCore
@using Microsoft.AspNetCore.Components.QuickGrid
@using TRUMPet.Domain
@using TRUMPet.Data
@implements IAsyncDisposable
@inject IDbContextFactory<TRUMPet.Data.TRUMPetContext> DbFactory

<PageTitle>Index</PageTitle>

<h1>Index</h1>

<p>
    <a href="songs/create">Create New</a>
</p>

<QuickGrid Class="table" Items="context.Song">
    <PropertyColumn Property="song => song.GenreID" />
    <PropertyColumn Property="song => song.ArtistID" />
    <PropertyColumn Property="song => song.DateAdded" />
    <PropertyColumn Property="song => song.Artistname" />
    <PropertyColumn Property="song => song.SongName" />

    <TemplateColumn Context="song">
        <a href="@($"songs/edit?songid={song.SongID}")">Edit</a> |
        <a href="@($"songs/details?songid={song.SongID}")">Details</a> |
        <a href="@($"songs/delete?songid={song.SongID}")">Delete</a>
    </TemplateColumn>
</QuickGrid>

@code {
    private TRUMPetContext context = default!;

    protected override void OnInitialized()
    {
        context = DbFactory.CreateDbContext();
    }

    public async ValueTask DisposeAsync() => await context.DisposeAsync();
}
